@use '../custom' as *;
@use '../components/mixins' as *;

.menu--bar{
    @include gradient;
    li{
        padding: 0 0.6rem;
    }
    .active{
        font-weight: bolder;
    }
    a{
        color: $white !important;
        text-transform: capitalize;
        font-weight: 500;
    }
}

