@use '../custom' as *;

.services{
    position: relative;
    padding: 1rem 0;

    p{
        color: var(--paragraph-color);
    }

    ._bg_panel{
        background-color: var(--panel);
    }

    &__content{
        padding: 1rem;
        margin-top: 0rem;

        p{
            font-size: 1rem;

            @include media-breakpoint-up(lg){
                font-size: 1.2rem;
            }
        }

        @include media-breakpoint-up(lg){
            margin-top: 5rem;
        }

        .icon{
           font-size: 1.5rem;
           color: $primary;

           
        @include media-breakpoint-up(lg){
            font-size: 2.5rem;
        }
        }
    }

    &__pic{
        max-width: 100%;
    }

}